In [21]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
#from aula3.xpaths import *

# Passo 1 : Pegar cotação do dolar
#   -Abrir o navegador

navegador = webdriver.Chrome()

navegador.get("https://google.com.br")

navegador.find_element("xpath", 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do dolar")
navegador.find_element("xpath", 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cot_dolar = navegador.find_element("xpath",
                               '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

#Passo 2: Cotação Euro

navegador.get("https://google.com.br")

navegador.find_element("xpath", 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do euro")
navegador.find_element("xpath", 
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cot_euro = navegador.find_element("xpath",
                               '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')


# Passo 3: Cotação ouro

navegador.get("https://melhorcambio.com/ouro-hoje")

cot_ouro = navegador.find_element("xpath",
                             '//*[@id="comercial"]' ).get_attribute('value')
cot_ouro= cot_ouro.replace(",",".")


print(cot_dolar)
print(cot_euro)
print(cot_ouro)

navegador.quit()

5.1968
5.156264960000001
288.46

In [19]:
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [22]:
#Editar a coluna cotação, onde a coluna moeda = dolar
tabela.loc[tabela["Moeda"]=="Dólar", "Cotação"] = float(cot_dolar)
tabela.loc[tabela["Moeda"]=="Euro", "Cotação"] = float(cot_euro)
tabela.loc[tabela["Moeda"]=="Ouro", "Cotação"] = float(cot_ouro)

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.196800,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.156265,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.196800,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.196800,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.156265,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.196800,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,288.460000,7000.00,1.15,8050.000

In [26]:
#atualizar os valores dentro da tabela

tabela["Preço de Compra"] = tabela["Preço Original"]*tabela["Cotação"]

tabela["Preço de Venda"] = tabela["Preço de Venda"]*tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.196800,5196.748032,1.40,R$26890.93
1,Carro Renault,4500.00,Euro,5.156265,23203.192320,2.00,R$864000.00
2,Notebook Dell,899.99,Dólar,5.196800,4677.068032,1.70,R$63892.86
3,IPhone,799.00,Dólar,5.196800,4152.243200,1.70,R$56723.29
4,Carro Fiat,3000.00,Euro,5.156265,15468.794880,1.90,R$445697.82
5,Celular Xiaomi,480.48,Dólar,5.196800,2496.958464,2.00,R$76876.80
6,Joia 20g,20.00,Ouro,288.460000,5769.200000,1.15,R$14079.50

In [27]:
#Passo 5: Exportar para o Excel

tabela.to_excel("Produtos Novo.xlsx", index=False)